# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation
public/file_pdf/
public/sysLog/
public/include/connDB.ini
public/old_house_pdf/
public/example/
public/test.html

public/upload.php

public/menu_test.html
