.loading-img{
  position: absolute;
  top:50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -100px;
}
.content-loading-img{
	position: absolute;
	top:50%;
	left: 50%;
	width: 40px;
	margin-left: -20px;
	margin-top: -40px;
}

.content-loading-img-in{
	width: 40px;
}

.word-break-all{
	word-break: break-all;
}

.btn-color-bk{
	color: #000000 !important;
}

.f20{
	font-size: 20px;
}

.f30{
	font-size: 30px;
}

.f-width{
	font-weight: bold;
}

.form-control-f30{
	height: 50px;
}

.f-lg{
	font-size:larger;
}

.f-center{
	text-align: center;
}

.f-left{
	text-align: left;
}

.f-right{
	text-align: right;
}

.div-backcolor{
	background: #F2F2F2;
}
.div-border{
	border: 1px solid #E6E6E6;
}

.item-center{
	margin: 0 auto;
}

.div-shadow{
	box-shadow:0px 0px 20px -4px rgba(20%,20%,40%,0.6);
}
.div-radius{
	border-radius: 5px;
}
.height100pre{
	height:100%;
}
.tb{
	display: inline;
}
.tb-title{

}

.content-padding5{
	padding: 5px;
}

.iframe-scroll-hide{
  overflow:hidden;
}

a:hover{
	text-decoration:none;
}

.ui-progressbar {
	position: relative;
}
.progress-label {
	position: absolute;
	left: 48%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
.ui-progressbar-value{
	margin: 0 !important;
}

.item-inline{
	display: inline !important ;
}

.item-margin-top{
	margin-top: 20px;
}

.item-margin-bottom{
	margin-bottom: 20px;
}

.item-margin-left{
	margin-left: 5px;
}

.printList{
	margin-bottom: 35px;
}

.mouse-pointer{ 
	cursor: pointer; 
}

.item-noneborder{
	border: none;
}

.item-hide{
	display: hidden;
}
.item-float-l{
	float: left;
}
.item-float-r{
	float: right;
}

.item-menu{
	position: relative;
	z-index: 100;
}
.item-menu-object{
    position: absolute;
    z-index: 100;
    overflow: hidden;
    left: -80px;
    top:24px;
}

.item-search .seachIcon{
	position: absolute;
	right: 10px;
	cursor: pointer;
	margin-top: 1px;
}

.item-display-n{
	display: none;
}

.item-width-80{
	width: 80%;
}

.item-width-20{
	width: 20%;
}

.item-width-90{
	width: 90%;
}

.item-width-10{
	width: 10%;
}

.item-tmpcardmana-absolute{
    position: absolute;
    z-index: 100;
    right: 0px;
}

.item-hover{
	background-color: #E9E9E9;
}

.item-ischeck{
	color: #00BB3B;
}

.item-bg-danger{
	background-color: #f2dede;
}

.combobox-btn{
	height: 32px;
    margin-bottom: 5px;
}

.btn-color-bk button{
	color: #000 !important;
}

.item-line{
	height: 1px;
	border-bottom: 1px solid #E6E6E6;
	margin-top: 2em;
	margin-bottom: 2em;
}

.send-btn:hover{
	color: #00C75D;
}

.cancel-btn:hover{
	color: #F61E1E;
}

.item-border{
	border: 1px solid #E6E6E6;
}

.item-border-bottom{
	border-bottom: 1px solid #E6E6E6;
}

.table-th-center th{
	text-align: center;
}

.table-td-center td{
	text-align: center;
}

.ui-datepicker-trigger{
    border:none;
    background:none;
    color:#000 !important;
    box-shadow: none !important;
    padding: 0 !important;
    text-align: center;
}

.ui-datepicker-trigger:hover{
    border:none;
    background:none;
    color:#000 !important;
}

.input-width-85{
	width: 85% !important;
}

.tab-border{
	margin-top: -1px;
	border-top:0px;
	border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.ui-state-highlight { 
	height: 1.5em; line-height: 1.2em; 
}

.oh-img img{
	height: 205px;
}

.oh-td-height{
	height: 40px;
}

.item-margin-bottom-40{
	margin-bottom: 75px;
}

.item-padding-top{
	padding: 20px;
}

.item-list-border{
	border: 1px solid #E6E6E6;
	border-radius: 4px;
}

.list-items{
	padding:20px;
}

.list-items-bottom{
	border-bottom: 1px #E6E6E6 solid;
}

.item-title-plus{
	margin-top: 20px;
    margin-bottom: 10px;
}

.list-item-hide-text{
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
}
.btn-default-font-color{
    color: #333 !important;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
    box-shadow:none !important;
}

.contents{
	margin-right: -15px;
    margin-left: -15px;
}
.contents:after,.contents:before{
	content: '';
    display: block;
    clear: both;
    height: 0;
}

.item-ol{
	list-style-type:decimal !important;
}